@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: #ebccc2;
    background-color: #2e2e2e;
}
/* nav left and top overlaps */
nav ul{
    list-style: none;
}
h1{
    width: 40%;
    margin-bottom: 10%;
    font-size: 2.5rem;
    font-weight: 300;
}
h2{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 5%;
}
p{
    font-size: .8rem;
    font-weight: 200;
    word-spacing: .2rem;
    color: #fff;
    line-height: 1.2rem;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about>img{
    width: 90vw;

}
#about section{
    display: flex;
    justify-content: center;
    margin: 5%;
}
#about section div{
    width: 45%;
    margin: 5%;
}
#about section div img{
    height: 25vh;
}
#about section article{
    margin: 5%;
    width: 45%;
    padding-top: 5%;
}
#lounger, #experience{
    display: flex;
}
#lounger section{
    background: url("../img/section-voyager.jpg") center no-repeat;
    width: 60vw;
    height: 100vh;
}
#experience section{
    background: url("../img/section-experience-1.jpg") center no-repeat;
    width: 60vw;
    height: 100vh;
}
#lounger article, #experience article{
    width: 40vw;
    padding:10% 5%;
}
#lounger article h2, #experience article h2{
    padding-bottom: 10%;
}
/*
Mute button, maybe later
.vid-background {
    height: 100vh;
    position: relative;
    margin: 0 !important;
    top: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video {
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    width: 100%;
}

#mute {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
    border: 1px solid #000;
    background-size: cover;
}
*/

